<div style="color: rgb(250, 249, 249);">
    <%- include('navigation.ejs')%>
</div>



    <link rel="stylesheet" href="gallery.css">

    <div style="position: relative; height: 600px;">
        <ul>
            <li class="item1">
                <div class="bg"></div>
            </li>
            <li class="item2">
                <div class="bg"></div>
            </li>
            <li class="item3">
                <div class="bg"></div>
            </li>
            <li class="item4">
                <div class="bg"></div>
            </li>
            <li class="item5">
                <div class="bg"></div>
            </li>
        </ul>
    </div>

    <!-- Footer section -->
    <div>
        <% -include('footer.ejs')%>
    </div>